@charset "utf-8";
body,html,div,a{
	margin: 0;
	padding: 0;
}
.item1{
	display: inline-block;
	position:relative;
	margin: 8px;
	height: 300px;
}
.img{
	width: 188px;
	height: 188px;
	
}
.detail{
	display: table;
	position: absolute;
	height: 48px;
	width: 158px;
	left: 18px;
}